{{ partial "header" . }}

<!-- home page -->

<main>
    
    <div class="intro">
        {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}" style="width:150px;height:150px;"> {{ end }}
        <h1 style="font-size:60px; font-family:{{ .Site.Params.titleFont }}"><b>{{ .Site.Title }}</b></h1>
        <h2 style="font-size:30px; font-family:{{ .Site.Params.titleFont }}">{{ markdownify .Site.Params.Description }}</h2>
        
        {{ with .Content }} <div class="homepage-content text-center">{{ . }}</div> {{ end }}
    </div>
</main>

{{ partial "footer" . }}
