// ==============================
// Override Variables
// ==============================

// color of the background in dark mode
$global-background-color-dark: #282c35;

// color of the header-box in light mode
$header-background-color: #E7E7E7;

// color of the font in dark mode
$global-font-color-dark: #DDD;

// header title font family
$header-title-font-family: "papyrus";

// header title color
//$header-title-color: #000000; 